@use "sass:color";
$color-lime: #d7da2f;
$color-red: #d73328;
// ### Neutral;
$color-slate-100: #e3f3fd;
$color-slate-300: #9abed5;
$color-slate-500: #6b94a8;
$color-slate-700: #4e6e7e;
$color-slate-900: #122f3f;
$color-slate-1000: #01141e;

body {
    margin: 0;
}

#root {
    min-height: 100vh;
    min-width: 100%;
    background-color: $color-slate-300;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mortgage-container {
    margin: auto;
    color: black;
    background-color: white;

    .calculator-container {
        flex: 1;
        padding: 1.25rem;
        background-color: white;

        .calculator-title {
            margin-bottom: 1.875rem;

            .title {
                text-align: left;
                flex: 1;
                font-weight: 700;
                font-size: 1.375rem;
            }

            button {
                all: unset;
                border-bottom: #4e6e7e;
                color: $color-slate-700;
                text-align: end;
                text-decoration: underline;
            }
        }

        .input-wrapper,
        .repayment,
        .interest-only {
            color: $color-slate-700;
            border-radius: .5rem;
            height: 2.5rem;
            padding: 0;
            margin: .625rem auto;
            display: flex;
        }



        .input-wrapper {
            border: 1px solid $color-slate-300;

            &.error {
                border: 1px solid $color-red;
            }

            &.hover {
                border: 1px solid $color-lime;
            }

            .unit {
                background-color: $color-slate-100;
                height: 2.5rem;
                text-align: center;
                display: inline-block;
                width: 3.125rem;
                line-height: 2.5rem;

                &.error {
                    color: white;
                    background-color: $color-red;
                }

                &.hover {
                    color: black;
                    background-color: $color-lime;
                }

            }

            input {
                all: unset;
                color: black;
                flex: 1;
                padding: 0 .625rem;
                accent-color: #988403;
            }
        }

        .input-container {

            // display: flex;
            // gap: .625rem;
            .unit {
                border-top-right-radius: .375rem;
                border-bottom-right-radius: .375rem;

                &.error {
                    color: white;
                    background-color: $color-red;
                }

                &.hover {
                    color: black;
                    background-color: $color-lime;
                }
            }
        }

        .amount-container {
            .unit {
                border-top-left-radius: .375rem;
                border-bottom-left-radius: .375rem;
            }
        }

        .mortgage-type-container {

            .repayment,
            .interest-only {
                border: 1px solid $color-slate-300;
                display: flex;
                align-items: center;

                input[type="radio"] {
                    width: 1.875rem;

                    &:checked {
                        accent-color: #988403;
                        outline: none;
                        box-shadow: none;
                    }
                }

                &.selected {
                    background-color: color.scale($color-lime, $lightness: 80%);
                    font-weight: 500;
                    border: 1px solid $color-lime;
                }
            }

        }

        .input-container,
        .amount-container,
        .mortgage-type-container {
            .title {
                color: $color-slate-700;
            }
        }

        .error {
            color: $color-red;
            font-size: .875rem;
            margin-bottom: 1.25rem;
        }

        .submit-button {
            all: unset;
            background-color: $color-lime;
            border-radius: 2.5rem;
            height: 2.5rem;
            text-align: center;
            cursor: pointer;
            padding: 0 1.25rem;
            line-height: 2.5rem;
            display: flex;
            margin: .625rem auto;

            img {
                margin: .5rem;
            }
        }
    }

    .calculator-result-container {
        flex: 1;

        background-color: $color-slate-900;
        text-align: center;
        color: white;
        padding: 1.25rem;

        .result-title {
            text-align: start;
        }

        img {
            margin: 1.25rem;
        }

        .remark {
            font-size: .875rem;
            line-height: 1.125rem;
            color: $color-slate-300;
        }

        h2 {
            margin: 0 auto 1rem auto;
        }

        .result-card {
            text-align: start;
            background-color: $color-slate-1000;
            border-radius: 1.25rem;
            padding: 1.25rem;
            font-size: .875rem;
            color: $color-slate-300;
            border-top: 4px solid $color-lime;
            margin: 1.625rem auto;

            .mortgage-pay {
                font-size: 3.75rem;
                color: $color-lime;
                word-wrap: break-word;
                overflow-wrap: break-word;
                max-width: 18.75rem;

            }

            .divider {
                border: 0;
                border-top: 1px solid $color-slate-300;
                margin: 1rem auto;
            }

            .mortgage-result {
                font-size: 1.25rem;
                font-weight: 500;
                color: white;
                word-wrap: break-word;
                overflow-wrap: break-word;
                max-width: 18.75rem;

            }
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        border-radius: 1.25rem;
        margin: auto;
        max-width: min-content;

        .calculator-container {
            border-radius: 1.25rem;
            min-width: 25rem;

            .calculator-title {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .input-container {
                display: flex;
                gap: .625rem;
                min-width: 100%;
                overflow: hidden;
                white-space: nowrap;

                .term-container,
                .rate-container {
                    input {
                        width: 50%;
                    }
                }
            }
        }

        .calculator-result-container {
            min-width: 25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-bottom-left-radius: 4rem;
            border-top-right-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;

            .result-card {
                min-width: 80%;
            }

        }
    }
}